<div class="form-frouprow">
    <label class="col-sm-2 col-form-label">Marka</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [ngModel]="brand">
    </div>
    <label class="col-sm-2 col-form-label">Model</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [ngModel]="model">
    </div>
    <label class="col-sm-2 col-form-label">Rocznik</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [ngModel]="year">
    </div>
    <label class="col-sm-2 col-form-label">Kolor</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [ngModel]="color">
    </div>
    <label class="col-sm-2 col-form-label">Nr rejestracyjny</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [ngModel]="registrationNumber">
    </div>
    <label class="col-sm-2 col-form-label">Id wlasciciela</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [ngModel]="ownerId">
    </div>
    <label class="col-sm-2 col-form-label">Id polisy</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [ngModel]="policyId">
    </div>
</div><br />