<figure class="text-center wst-title">
    <blockquote class="blockquote">
      <h1>CEPIK by WST Students</h1>
    </blockquote>
  </figure>
  
  <div class="card-group">
    <div class="card">
      <h1 class="card-title">Kierowcy</h1>
      <img src="../../assets/img/drivers.jpg" class="card-img-top" alt="Drivers">
      <a href="/drivers" class="stretched-link"></a>
    </div>
    <div class="card">
      <h1 class="card-title">Pojazdy</h1>
      <img src="../../assets/img/vechicles.jpg" class="card-img-top" alt="Vechicles">
      <a href="/vechicles" class="stretched-link"></a>
    </div>
    <div class="card">
      <h1 class="card-title">Polisy</h1>
      <img src="../../assets/img/policies.jpg" class="card-img-top" alt="Policies">
      <a href="/policies" class="stretched-link"></a>
    </div>
  </div>