<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/mainpage" class="navbar-brand">CEPIK</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="mainpage" class="nav-link">Strona główna</a>
      </li>
      <li class="nav-item">
        <a routerLink="drivers" class="nav-link">Kierowcy</a>
      </li>
      <li class="nav-item">
        <a routerLink="vechicles" class="nav-link">Pojazdy</a>
      </li>
      <li class="nav-item">
        <a routerLink="policies" class="nav-link">Polisy</a>
      </li>
    </div>
  </nav>
 
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>